@font-face {
  font-family: "Popins-Regular";
  src: url(Assets/Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Popins-Bold";
  src: url(Assets/Fonts/Poppins/Poppins-Bold.ttf);
}

/* For all the Elements */
:root {
  --bg-color:rgb(34,40,49);
  --elements-color:rgb(57, 62, 70);
  --main-text-color:rgb(0, 173, 181);
  --secondary-text-color:rgb(238, 238, 238);
  --main-font:"Popins-Bold";
  ---secondary-font:"Popins-Regular";
}
*{
  margin: 0;
  padding:0;
  box-sizing:border-box ;  
  text-decoration: none;
}
a{
  color: inherit;
}
/* For Body */
body{
  background-color:var(--bg-color);
  font-family: var(---secondary-font);
  color: var(--secondary-text-color);
}
.continer-fluid{
    width:100%;
}
.container{
    margin-left: auto ;
    margin-right: auto ;
    padding:0 15px ;
}
.padding{
  padding-left:18px ;
  padding-right:18px ;
}
.margin{
  margin-left:18px ;
  margin-right:18px ;
}

  
/* --------- NAVBAR ---------*/
.navbar{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  position: relative;
  justify-content:space-between;
  align-items: center;
}
.hamburger-menu {
  display: none;
  cursor: pointer;
}
.page-links{
  list-style: none;
  display:flex;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}
/*  */
.page-links>li.active, .page-links>li:hover{
  color:var(--main-text-color);
  border-color: var(--main-text-color)!important
}
/* Media query for Menu button */
@media (max-width: 767.98px) {

  /* FOR MENU */
  .page-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      width: 100%;
      margin-top: 20px;
      text-align: left;
      background-color: var(--elements-color);
      opacity: 0;
      transition: opacity 0.5s ease, transform 0.5s ease;
      transform: translateY(-20px);
  }
  .page-links li {
      margin:10px 0 10px 5px;
      padding: 0;
     
  }
  .page-links.active {
      display: flex;
      opacity: 1;
      transform: translateY(0);
  }
  .hamburger-menu {
      display: inline;
  }
 /* Animation for Font Awesome icon */
  .fa-bars {
    transition: transform 0.3s ease-in-out;
  }

  .hamburger-menu.active .fa-bars {
    transform: rotate(90deg);
  }
}

/* --------- Underline ---------*/
.underline,.page-links>li.active{
  border-bottom: 1px solid var(--elements-color)  ;
}
/* --------- Arrow Box ---------*/
#arrow-box{
  display:none;
  position: relative;
  left:25%;
  justify-content: center;
  align-items: center;
  width:60px;
  height:60px;
  margin-top: 50px ;
  background-color: var(--elements-color);

}



/* --------- Main Heading ---------*/
.main-heading{
  font-family: var(--main-font);
  margin:20px 0 ;
  font-size:30px;
  line-height: 1.1;
}
.main-heading span{
  color: var(--main-text-color);
}
/* --------- button ---------*/
.button-group{
  display:flex;
  flex-flow: row wrap;
}
.button {
  display: flex;
  align-items: center;
  background-color: var(--elements-color);
  border: 0;
  border-radius: 20px;
  color: var(--secondary-text-color);
  font-size: 15px;
  font-weight: 600;
  padding: 12px 30px;
  margin: 0 10px;
  height: auto; 
}
.button-content {
  display: flex;
  align-items: center;
}
.button img {
  margin-left: 8px;
}
.button.active {
  background-color: var(--main-text-color);
  margin-left: 0;
}
/* --------- Hero Section ---------*/
.hero-section{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  padding:90px 0 60px 0;
}

/* Text Section */
.text-section{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self:flex-start;
}
.text-section>div:nth-child(1){
  width:10% ;
  margin-right:20px;
}
.text-section>div:nth-child(1)>img{
  height:60%;
  margin-top: 100%; 
}
.text-section .main-heading{
  text-transform: uppercase;
  margin-bottom: 45px;
  margin-top:0;
  font-size:35px;
}


/* Images Section */
.hero-section>.image-section{
  width: 100%;
  height: 100%;
  align-self:end;
  position: relative;
  text-align: right;
}
.h-image-bg{
  width:100%;
}
.h-image-body{
  position:absolute;
  top:34%;
}
.h-image-body>div{
  display: inline-block;
  position: relative;
  z-index: 1; 
}
#h-img-shadow{
  position: absolute;
  bottom:20%;
  left:0% ;
  z-index:-1;
}

























/*--------- BREAKPOINTS --------- */

/* Extra Small (Mobile) */

@media (max-width: 575.98px) {
  .container {
      max-width: 95%;
    }
      /* Hero Section: Text Section */
    .text-section>div:nth-child(1)>img{
      height:50%;
    }
    .text-section .main-heading{
      font-size:5vw;
      margin-bottom: 20px;
    }
    .button-group{
      justify-content: space-between;
    }
    .hero-section .button{
      margin: 10px 3px;
      font-size: 13px;
    }  
    /* Hero Section */
     /* Hero Section: Image  */
     .h-image-body{
      width:75%;
      top: 43%;
      left: 5%;
    }
    .h-image-body>div{
      width:100%;
    } 
    #h-img{
    width: 100%;

    }
    #h-img-shadow{
    width: 90%;
    }


}

/*Extra Extra Small (Mobile) */
@media (max-width: 375px) {
  .container {
      max-width: 90%;
    }
    /* Hero Section: Text Section */
    .text-section>div:nth-child(1)>img{
      height:40%;
    }
    .text-section .main-heading{
      font-size:5.1vw;
      margin-bottom: 15px;
    }
    .hero-section  .button{
      margin-bottom: 5px;
      font-size: 13px;
    }  
    /* Hero Section */
    /* Hero Section: Image  */
     .h-image-body{
      width:60%;
      }
}
/* Small (Mobile) */
@media (min-width: 576px) {
  .container {
      max-width: 540px;
    } 
    /* Hero Section */
     /* Hero Section: Image  */
     .h-image-body{
      width:80%;
    }
    .h-image-body>div{
      width:100%;
    } 
    #h-img{
    width: 100%;
    }
    #h-img-shadow{
    width: 90%;
    }
    .hero-section  .button{
        margin:0  10px;
        font-size: 13px;
      } 
}

/* Medium (Tablet) */
@media (min-width: 768px) {
  .container {
      max-width: 720px;
    }
   /* Hero Section: Text Section */
    .hero-section{
      flex-direction: row;
      padding-top:110px
    }
    .hero-section>.text-section{
      width:55% ;
    }
    .hero-section>.image-section{
      width:45%;
    }
    .text-section>div:nth-child(1){
      margin-right:12px;
    }
    .text-section>div:nth-child(1)>img{
      height:50%;
      margin-top: 100%; 
    }
    .text-section .main-heading{
        font-size:2.7vw;
        margin-bottom: 35px;
     }
    .hero-section  .button{
      font-size: 11px;
    }  
    /* Hero Section: Image  */
    .h-image-body{
      right:30%;
    }
    /* Arrow Buttton */
    #arrow-box{
      display: flex;
    }
    #arrow-box>img{
      width:30%
    }
}

/* Large (Laptop) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
      /* Hero Section: Text Section */
  .text-section>div:nth-child(1){
    margin-right:15px;
  }

  .text-section>div:nth-child(1)>img{
    height:55%;
  }
  .text-section .main-heading{
      font-size:3vw;
      margin-bottom: 40px;
   }
  .hero-section  .button{
    font-size: 15px;
  } 
  /* Hero Section: Image */ 
  .h-image-body{
    width:85%;
    right:27%;
  }
  #h-img-shadow{
    width: auto;
  }
  /* Arrow Buttton */
  #arrow-box{
    width:70px;
    height:70px;
   }
   #arrow-box>img{
    width:auto;
    }
}

/* Extra Large (Desktop) */
@media (min-width: 1200px) {
  .container {
      max-width:  1140px;
    }

   /* Hero Section: Text Section */
   .text-section>div:nth-child(1){
    margin-right:10px;
    }
   .text-section>div:nth-child(1)>img{
    height:70%;
    margin-top: 125%; 
    }
    .text-section .main-heading{
      font-size:43px;
      margin-bottom: 45px;
    }
    .hero-section .button{
      font-size: 15px;
      }
      /* Hero Section: Image Section  */
    .h-image-body>div{
      width: auto;
    }
    .h-image-bg{
      width: auto;
    }
    .h-image-body{
      width:auto;
      right:25%;
    }
     /* Arrow Buttton */
    #arrow-box{
      width:80px;
      height:80px;
      margin-top: 30px ;
  
    }
   
   
 
}
/* XX-Large (Large Desktop) */
@media (min-width: 1600px) {
  .container {
      max-width: 1360px;
    }
   /* Hero Section: Text Section */
  .text-section>div:nth-child(1)>img{
    margin-top: 100%; 
  }
  /* Arrow Buttton */
  #arrow-box{
    width:96px;
    height:96px;
    margin-top: 0;
  
  }
  

}

