@font-face {
  font-family: "Popins-Regular";
  src: url(Assets/Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Popins-Bold";
  src: url(Assets/Fonts/Poppins/Poppins-Bold.ttf);
}

/* For all the Elements */
:root {
  --bg-color:rgb(34,40,49);
  --elements-color:rgb(57, 62, 70);
  --main-text-color:rgb(0, 173, 181);
  --secondary-text-color:rgb(238, 238, 238);
  --main-font:"Popins-Bold";
  ---secondary-font:"Popins-Regular";
}
*{
  margin: 0;
  padding:0;
  box-sizing:border-box ;  
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
a{
  color: inherit;
}
li{
  list-style-type: none;
}
/* For Body */
body{
  background-color:var(--bg-color);
  font-family: var(---secondary-font);
  color: var(--secondary-text-color);
}
.continer-fluid{
    width:100%;
}
.container{
    margin-left: auto ;
    margin-right: auto ;
    padding:0 15px ;
}
.padding{
  padding-top:18px ;
  padding-bottom:18px ;
}
.margin{
  margin-left:18px ;
  margin-right:18px ;
}

  
/* --------- NAVBAR ---------*/
.navbar{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  position: relative;
  justify-content:space-between;
  align-items: center;
}
.hamburger-menu {
  display: none;
  cursor: pointer;
}
header .page-links{
  list-style: none;
  display:flex;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}
/*  */
header .page-links>li.active,header .page-links>li:hover{
  color:var(--main-text-color);
  border-color: var(--main-text-color)!important
}
/* Media query for Menu button */
@media (max-width: 767.98px) {

  /* FOR MENU */
  header .page-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      width: 100%;
      margin-top: 20px;
      text-align: left;
      background-color: var(--elements-color);
      opacity: 0;
      transition: opacity 0.5s ease, transform 0.5s ease;
      transform: translateY(-20px);
  }
  header .page-links li {
      margin:10px 0 10px 5px;
      padding: 0;
     
  }
  header .page-links.active {
      display: flex;
      opacity: 1;
      transform: translateY(0);
  }
  .hamburger-menu {
      display: inline;
  }
 /* Animation for Font Awesome icon */
  .fa-bars {
    transition: transform 0.3s ease-in-out;
  }

  .hamburger-menu.active .fa-bars {
    transform: rotate(90deg);
  }
}

/* --------- Underline ---------*/
.underline,header .page-links>li.active{
  border-bottom: 1px solid var(--elements-color)  ;
}
/* --------- Arrow Box ---------*/
#arrow-box{
  display:none;
  position: relative;
  left:25%;
  justify-content: center;
  align-items: center;
  width:60px;
  height:60px;
  margin-top: 50px ;
  background-color: var(--elements-color);

}
/* --------- Main Heading ---------*/
.main-heading{
  font-family: var(--main-font);
  margin:20px 0;
  line-height: 1.1;
}
.main-heading span{
  color: var(--main-text-color);
}
/* --------- button ---------*/
.button-group{
  display:flex;
  flex-flow: row wrap;
}
.button {
  display: flex;
  align-items: center;
  background-color: var(--elements-color);
  border: 0;
  border-radius: 20px;
  color: var(--secondary-text-color);
  font-size: 15px;
  font-weight: 600;
  padding: 12px 30px;
  margin: 0 10px;
  height: auto; 
}
.button-content {
  display: flex;
  align-items: center;
}
.button img {
  margin-left: 8px;
}
.button.active {
  background-color: var(--main-text-color) !important;
  margin-left: 0;
}


/* --------- Hero Section ---------*/
.hero-section{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  padding:90px 0 60px 0;
}

/* Text Section */
.text-section{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self:flex-start;
}
.hero-section .text-section>div:nth-child(1){
  width:10% ;
  margin-right:20px;
}
.hero-section .text-section>div:nth-child(1)>img{
  height:60%;
  margin-top: 100%; 
}
.hero-section  .text-section .main-heading{
  text-transform: uppercase;
  margin-bottom: 45px;
  margin-top:0;
  font-size:35px;
}
/* Images Section */
.hero-section>.image-section{
  width: 100%;
  height: 100%;
  align-self:end;
  position: relative;
  text-align: right;
}
.h-image-bg,.about-image-bg{
  width:100%;
}
.h-image-body,.about-image-body{
  position:absolute;
  top:34%;
}
.h-image-body>div{
  display: inline-block;
  position: relative;
  z-index: 1; 
}
#h-img-shadow,#about-img-shadow{
  position: absolute;
  bottom:20%;
  left:0% ;
  z-index:-1;
}

main{
  padding:150px 0 50px  0;
  display: flex;
  flex-direction: column;
  gap:120px;
}

/* --------- About me Section ---------*/
#about-me-section{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:start;
  gap: 25px;
  position: relative;
}
#about-me-section>.text-section,#contact-us-section>.text-section{
  display: block;
}
#about-me-section>.text-section>:nth-child(2){
  margin:30px 0 30px 0;
}
#about-me-section>.text-section>:nth-child(3){
  position: relative;
  left:40%;
}
#about-me-section .content{
  width:100%;
}
#text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Limit to 5 lines */
  -webkit-box-orient: vertical;
}
#read-more {
  font-weight: 600;
  cursor: pointer;
}

#about-me-section .main-heading img{
  vertical-align:bottom
}
#about-me-section h2{
  display: inline;
  margin-right: 30px;
}
#about-me-section>.text-section img{
    width: 15%;
}
/* Image Section */
#about-me-section>.image-section{
  display: flex;
  position: relative;
  margin-top: 70px;
}
.about-image-body{
  top:50%;
  left: 15%;
}
#about-img-zz{
  position: absolute;
  left:25%;
  top: 3%;
  width:8%;
}
#about-img-shadow{
  bottom:-2%;
}

.underline.padding{
  margin-top: 60px;
}
/* --------- Work Section ---------*/
#work-section{
  background-image: url(Assets/Images/work-bg.png);
  padding: 200px 0;
}
#button-group{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 25px;
}
#button-group .button{
  background-color:  rgb(57, 62, 70,0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
#card-group{
  display: flex;
  justify-content:space-between;
  margin-top: 48px;
  flex-wrap:wrap;
  gap: 50px;
}
.card{
  width:100%;
  height:350px;
  border-radius: 16px;
  background-color:rgb(57, 62, 70,0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0,0.25));
}
.card >img{
  width: 250px;
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0,0.25));
}

/* --------- Contact us Section ---------*/
#contact-us-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
}
/* Text Section */
#contact-us-section .text-section{
  align-self: center;
}
#contact-us-section .image-section{
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin: auto 0;
  
}
#c-arrow{
  position: relative;
  bottom: 130px;
}
#c-shadow{
  position: relative;
  display: block;
  z-index: -1;
  bottom:15px ;
  left:30%;
  width: 35%;
} 
#contact-us-image{
  position: relative;
  left: 10%;
  margin-top: 30px;
}
.contact-us-icons{
  width:20%;
}
/* Form Section */
.form-section{
  width: 100%;
}
#c-news{
  position: relative;
  left:20%;
}
#c-mail{
  position: relative;
  left:75%;
}
#form-box{
  width: 100%;
  margin: 50px 0;
}
#form-box label{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
#form-box>div{
  width:100%;
  display: inline-block;
  margin-bottom: 30px;
} 
.input{
  width: 100%;
  border:0;
  height:59px;
  border-radius: 16px;
  background-color:rgb(57, 62, 70,0.5);
  padding-left: 15px
}

textarea.input{
  padding: 15px;
  height:280px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  resize: none;
}
textarea::placeholder , .input{
  color:rgb(238, 238, 238,0.5);
  font-size: 18px;
}
/* --------- Footer ---------*/

/* --------- Page and Social link Section ---------*/
#links-section{
padding: 100px 0;
 display: flex;
 align-items: center;
 flex-direction: column;
 gap: 60px;
}
#links-section>.page-links, .social-links{
  width:450px;
  display:none;
  justify-content: space-between;
}
#links-section>.page-links a{
  display:flex ;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social-links{
  display: flex;
  width:300px;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width:48px;
  height: 48px;
  border-radius: 50%;
  background-color:var(--elements-color) ;
}  
.social-links a:hover{
  background-color: var(--main-text-color);
}

/* Navigation box  */
 #nav{
  position: fixed;
  bottom:20px;
  right:20px;
  z-index: 2;
}
#navbox{
  width:65px;
  height:65px;
  padding: 20px;
  border-radius:12px;
  color: white;
  background-color:rgba(27, 28, 29, 0.8);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  justify-content:center;
  align-content: center;
}







/*--------- BREAKPOINTS --------- */

/* Extra Small (Mobile) */

@media (max-width: 575.98px) {
  .container {
      max-width: 95%;
    }
      /* Hero Section: Text Section */
    .hero-section  .text-section>div:nth-child(1)>img{
      height:50%;
    }
    .hero-section  .text-section .main-heading{
      font-size:5vw;
      margin-bottom: 20px;
    }
    .button-group{
      justify-content: space-between;
    }
    .hero-section .button{
      margin: 10px 3px;
      font-size: 13px;
    }  
    /* Hero Section */
     /* Hero Section: Image  */
    .h-image-body{
      width:75%;
      top: 43%;
      left: 5%;
    }
    .h-image-body>div{
      width:100%;
    } 
    #h-img{
    width: 100%;
    }
    #h-img-shadow{
    width: 90%;
    }
    /* Main */
  main{
    padding:60px 0;
    gap:100px;
  }
    
  main .main-heading{
    font-size:4.8vw;
  }
  /* About Me Section */
  /* Image Sectoion */
  .about-image-body{
    left: 9%;
  }
  #about-img,#about-img-shadow{
    width: 85%;
  }
  .underline.padding{
    margin-top: 30px;
  }
  /* Work Section */
  #work-section .button{
    margin: 0;
  }
  .card >img{
    width: 200px;
  }
  /* Contact us Section */
  #contact-us-image{
    width: 50%;
    left:8%;
  }
  #c-shadow{
    left:25%;
    width: 40%;
  } 
  /* Links Section */
  #links-section{
    padding:30px 0 30px 0
    } 
}
/*Extra Extra Small (Mobile) */
@media (max-width: 375px) {
  .container {
      max-width: 90%;
    }
    /* Hero Section: Text Section */
    .hero-section .text-section>div:nth-child(1)>img{
      height:40%;
    }
    .hero-section .text-section .main-heading{
      font-size:5.1vw;
      margin-bottom: 15px;
    }
    .hero-section  .button{
      margin-bottom: 5px;
      font-size: 13px;
    }  
    /* Hero Section */
    /* Hero Section: Image  */
     .h-image-body{
      width:60%;
      }
      /* Main */
      main{
      padding:5px 0;
      gap:60px;
      }
      /* Work Section */
      .underline.padding{
        margin-top:10px;
      }
      
      .card{
        height:250px;
      }
      /* Contact us Section */
    #contact-us-image{
      width: 55%;
      left:5%;
    }
    #c-shadow{
     bottom: 12px;
    } 
}
/* Small (Mobile) */
@media (min-width: 576px) {
  .container {
      max-width: 540px;
    } 
    /* Hero Section */
     /* Hero Section: Image  */
     .h-image-body{
      width:80%;
    }
    .h-image-body>div{
      width:100%;
    } 
    #h-img{
    width: 100%;
    }
    #h-img-shadow,#about-img-shadow{
    width: 90%;
    }
    .hero-section  .button{
        margin:0  10px;
        font-size: 13px;
      } 
    /* Main  */
     main .main-heading{
      font-size:4.3vw;
    }
     /* footer  */
     #links-section .page-links{
      display: flex;
    }
}
/* Medium (Tablet) */
@media (min-width: 768px) {
  .container {
      max-width: 720px;
    }
   /* Hero Section: Text Section */
    .hero-section{
      flex-direction: row;
      padding-top:110px
    }
    .hero-section>.text-section{
      width:55% ;
    }
    .hero-section>.image-section{
      width:45%;
    }
    .hero-section  .text-section>div:nth-child(1){
      margin-right:12px;
    }
    .hero-section .text-section>div:nth-child(1)>img{
      height:50%;
      margin-top: 100%; 
    }
     .hero-section .text-section .main-heading{
        font-size:2.7vw;
        margin-bottom: 35px;
     }
    .hero-section  .button{
      font-size: 11px;
    }  
    /* Hero Section: Image  */
    .h-image-body{
      right:30%;
    }
    /* Arrow Buttton */
    #arrow-box{
      display: flex;
    }
    #arrow-box>img{
      width:30%
    }
    /* Main  */
    main{
      gap:140px;
    }
    
    main .main-heading{
      font-size:2.6vw;
    }
    /* About me Section */
    #about-me-section{
      flex-direction:row;
      gap: 0;
    }
    /*Text Section */
    #about-me-section>.text-section{
      width:45% ;
    }
    #about-me-section .content{
      width:80%;
    }
    #about-me-section>.text-section>:nth-child(2) {
      margin-bottom:90px;
    }
    /*Image Section */
    #about-me-section>.image-section{
      width:53%;
      margin-top: 70px;
    }
    #about-img,#about-img-shadow{
      width:90%;
    }
    /* Work Section */
    .underline.padding{
      margin-top:0;
    }
    .card{
      width:318px; 
      height:250px;
    }
    /* Contact us section */
    #contact-us-section{
      flex-direction: row;
    }
    #contact-us-section .text-section{
      width:50%;
    }
    #contact-us-section .form-section{
      width:50%;
    }
    #c-arrow{
      top: -120px;
    }
    #contact-us-image{
      width: 60%;
      left: 2%;
    }
    .contact-us-icons{
      width: 30%;
    }
    #c-shadow{
      width: auto;
    }
    #form-box{
      margin: 80px 0 30px 0;
    }
   
  }
/* Large (Laptop) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
      /* Hero Section: Text Section */
  .hero-section .text-section>div:nth-child(1){
    margin-right:15px;
  }
  .hero-section .text-section>div:nth-child(1)>img{
    height:55%;
  }
  .hero-section  .text-section .main-heading{
      font-size:3vw;
      margin-bottom: 40px;
   }
  .hero-section  .button{
    font-size: 15px;
  } 
  /* Hero Section: Image */ 
  .h-image-body{
    width:85%;
    right:27%;
  }
  #h-img-shadow,#about-img-shadow{
    width: auto;
  }
  /* Arrow Buttton */
  #arrow-box{
    width:70px;
    height:70px;
   }
   #arrow-box>img{
    width:auto;
    }
  /* Main  */
    main .main-heading{
      font-size:3.2vw;
  }
   /* About me Section */
   /* Text Section */
  #about-me-section>.text-section img{
    width: auto;
  }
   /* Image Section */
  #about-img-zz{
    width: auto;
  } 
   /* Work Section */
  .card{
    width:408px;
    height:290px;
  }
   /* Contact us Section  */
   /* Text Section */
  #c-arrow{
    top:-150px;
  } 
  .contact-us-icons{
    width: auto;
  }
  #contact-us-image{
    position:static;
    width: auto
  }
  #c-shadow{
    left:34%;
  } 
    /* Contactus Section */
      /* form Section */
    #form-box>div{
    width:48%;
    } 
    #form-box>div:nth-child(2){
      margin-left:10px;
    } 
    #form-box{
      margin-top: 100px;
    }

}
/* Extra Large (Desktop) */
@media (min-width: 1200px) {
  .container {
      max-width:  1140px;
    }
   /* Hero Section: Text Section */
   .hero-section .text-section>div:nth-child(1){
    margin-right:10px;
    }
    .hero-section .text-section>div:nth-child(1)>img{
    height:70%;
    margin-top: 125%; 
    }
    .hero-section .text-section .main-heading{
      font-size:43px;
      margin-bottom: 45px;
    }
    .hero-section .button{
      font-size: 15px;
      }
    /* Hero Section: Image Section  */
    .h-image-body>div{
      width: auto;
    }
    .h-image-bg{
      width: auto;
    }
    .h-image-body{
      width:auto;
      right:25%;
    }
     /* Arrow Buttton */
    #arrow-box{
      width:80px;
      height:80px;
      margin-top: 30px ;
  
    }
    /* Main  */
    main .main-heading{
      font-size: 35px;
    }
    /* About Me Section */
    /* :Image Section */
    #about-img,#about-img-shadow{
      width: auto;
    }
    /* Work Section */
    #card-group{
      flex-wrap: nowrap;
    } 
    .card{
      width:358px;
      height:260px;
    }
    /* Contact us Section  */
    #c-shadow{
      left:28%;
    }

  }
/* XX-Large (Large Desktop) */
@media (min-width: 1600px) {
  .container {
      max-width: 1360px;
    }
   /* Hero Section: Text Section */
   .hero-section  .text-section>div:nth-child(1)>img{
    margin-top: 100%; 
  }
  /* Arrow Buttton */
  #arrow-box{
    width:96px;
    height:96px;
    margin-top: 0;
  }
  /* Main */
  /* About me Section /*
  /* Image Section */ *
  .about-image-body{
    left: 12%;
  }
  /* Work sectiion */
  .card{
    width:398px;
    height:300px;
  }
  /* Conatct us */
  #c-shadow{
    left:23%;
  }

  
}

